.container-fluid{
    display: flex;
    justify-content: center;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: #a7a4a4;
}

.rating .star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ddd; /* Estrellas inactivas */
}

.rating .star.active {
    color: gold; /* Estrellas activas */
}

body {
    background: linear-gradient(45deg, #e997e9, #d678d6, #7272c4);
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.navbar {
    background-color: #343a40;
}

h1, h3 {
    color: #343a40;
    font-weight: 700;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #FF00FF;
    border-color: #800080;
    font-weight: 500;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #800080;
    border-color: #FF00FF;
}

.btn-warning {
    background-color: #0000FF;
    border-color: #007bff;
    font-weight: 500;
    border-radius: 50px;
    color: white;
}

.btn-warning:hover{
    background-color: #007bff;
    border-color: #0000FF;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 500;
    border-radius: 50px;
}

.star.active {
    color: #ffd700;
}

.star {
    color: #ccc;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px;
}

.progress-bar {
    background-color: #007bff;
}

.progress-bar[aria-valuenow="100"] {
    background-color: #28a745;
}

.progress-bar[aria-valuenow="50"] {
    background-color: #ffc107;
}   

#filterForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#filterForm .form-label {
    font-weight: bold;
}

#filterForm .form-select, 
#filterForm .form-control {
    border-radius: 50px;
}

#carrusel,
#carrusel img{
    height: 80vh;
    margin-left: 52px;
    margin-right: 110px ;
}

#copy{
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
}

.list-group-item .card img {
    width: 15vw;
}

@media (max-width : 800px) {
#carrusel,
#carrusel img{
    height: 40vh;
    margin-left: 0px;
    margin-right: 0px;
}
}

@media (max-width : 800px) {
    .list-group-item .card img {
        width: 30vw;
        height: 25vh;
    }
}

@media (max-width : 990px) {
    .row{
        display: grid;
        grid-template-columns: 50%,50%;
        grid-template-rows: 50%;
    }
    #top-card{
        margin-left: 30px;
    }
}
